html{
  padding-left: 100px;
  padding-right: 100px;
}
.responsive {
  width: 100%;
  height: auto;
}
.title{
  background-color: greenyellow;
  text-align: center;
  font-family: monospace;
}
.title button{
  background-color: orange;
  font-size: 20px;
  border-radius: 10px 10px 10px 10px;
  display: inline-block;
  
}
@media only screen and (max-width: 600px) {
  html{
  padding-left: 0px;
  padding-right: 0px;
}